body {
    width: 98vw;
    height: 100vh;
}

.gameContainer {
    width: 100%;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10%;
    background-color: green;
}

.header > h2 {
    margin: 0%;
    text-align: center;
    font-size: 7vh;
}

.leftNav {
    width: 16%;
    height: 90%;
    background-color: rgb(255, 251, 4);
}

.leftNav > p {
    margin: 0;
}

.mainContent {
    width: 83%;
    height: 89.4%;
    display: flex;
}

.gameBoard {
    position: relative;
    height: 75vmin;
    display: flex;
    width: 75vmin;
    margin: auto;
    padding-top: 1%;

}

.column {
    height: 100%;
    /*border: solid;*/
    width: 14.8%;
    border-color: #00568f;
}

.square {
    height: 14.29%;
    width: 100%;
    border: solid 0.2vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084db;
    border-color: #00568f;
}

.circle {
    border: solid 0.1vw;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: white;
    border-color: #00568f;
}

.winText{
    font-family: Arial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 8vw;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.player1{
    background-image: url("image/player1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0;
}
.player2{
    background-image: url("image/player2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0;
}
/*------------------------------------Modal-----------------------------------------------*/

#modal {
    position: fixed;
    font-family: monospace;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 45%;
    height: 40%;
    padding: 20px;
}
.modalconent > form {
    width: 50%;
    height: 30%;
}
.modalH1{
    font-size: 32pt;
    margin: 0;
    background-color: lightskyblue;
    height: 15%;
    text-align: center;
}

.rulesContainer{
    font-size: 15pt;
    text-align: center;
    width: 35%;
    height: 81%;
    float: right;
    margin-right: 8%;
    margin-left: 7%;
    font-family: monospace;
}
.form1{
    width: 25%;
    float: right;
     font-size: 17pt;
     height: 85%;
     background-color: lightskyblue;
}
.form2{
    width: 25%;
    float: left;
    font-size: 17pt;
    height: 85%;
    background-color: lightskyblue;
}
#connect4Header{
    margin: 0;
}
.firstPlayer{
    margin: 5px;
    height: 5%;
}
.secondPlayer {
    margin: 5px;
    height: 5%;
}
.input{
    height: 10%;
    width: 10%;
}